body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  width: 50%;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: solid;
  box-sizing: border-box; 
  aspect-ratio: 1;
}